.App {
  text-align: center;
}

.custom-scroll::-webkit-scrollbar {
  background-color:#212529;
  border: 1px solid black;
  width: 8px;
  border-radius: 10px 10px 10px 10px;
}
.custom-scroll::-webkit-scrollbar-thumb{
  background-color: gray;
  border: 1px solid black;
  width: 5px;
  border-radius: 10px 10px 10px 10px;
}